@import './variables.styl'
@import "~@fortawesome/fontawesome-free/css/all.css"

*
  margin 0
  padding 0
  font-family brand-font

.title
  text-styles(24px, 600, #333, 0.5px)

.body-text
  text-styles(16px, 400, #555, 0.3px)
