// ~ brand colors
brand-blue = {
   '400': '#46A3FF',
   '500': '#2693FF',
   '600': '#1182F2'
}

gray-blue-palette = {
     '100': '#F4FBFF',
     '150': '#E9F4FB',
     '200': '#D6E6EF',
     '300': '#BFDAEB',
     '400': '#AECBDE',
     '500': '#A6C1D2',
     '600': '#77899E',
     '700': '#748CA5',
     '800': '#5D7893',
     '900': '#4E5F70',
     '950': '#283848'   
}

green-palette = {
    '400': '#5ECDA5',
    '500': '#1AD18F',
    '600': '#0ED984'
}

red-palette = {
   '500': '#FF4874',
   '600': '#FF2E79'
}

// Mixin
apply-palette(palette, level)
    color palette[level]
// Exemplo de Uso
// .title
//     apply-palette(brand-blue, '500')


// Typography
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');
brand-font = 'SVN-Gilroy', sans-serif;

// Mixin 
text-styles(size, weight, color, spacing) 
    font-size size
    font-weight weight
    color color
    letter-spacing spacing
    font-family brand-font

    // Exemplo de Uso
    // .title
    //     text-styles(24px, 600, #333, 0.5px)
