//~~ brand colors
brand-blue-400 = #46A3FF
brand-blue-500 = #2693FF
brand-blue-600 = #1182F2  

brand-gray-100 = #F4FBFF
brand-gray-150 = #E9F4FB
brand-gray-200 = #D6E6EF
brand-gray-300 = #BFDAEB
brand-gray-400 = #AECBDE
brand-gray-500 = #A6C1D2  
brand-gray-600 = #77899E
brand-gray-700 = #748CA5  
brand-gray-800 = #5D7893
brand-gray-900 = #4E5F70
brand-gray-950 = #283848

brand-green-400 = #5ECDA5
brand-green-500 = #1AD18F
brand-green-600 = #0ED984

brand-red-500 = #FF4874
brand-red-600 = #FF2E79

//~Typography
@font-face
  font-family 'SVN-Gilroy'
  font-weight normal
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy Regular.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight bold
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy Bold.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight normal
  font-style italic
  src url('~@/assets/fonts/SVN-Gilroy Italic.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight light
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy Light.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight medium
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy Medium.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight normal
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy Regular.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight semibold
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy SemiBold.ttf') format('truetype')

@font-face
  font-family 'SVN-Gilroy'
  font-weight thin
  font-style normal
  src url('~@/assets/fonts/SVN-Gilroy Thin.ttf') format('truetype')

brand-font = 'SVN-Gilroy', sans-serif

//~Mixin 
text-styles(size, weight, color, spacing)
  font-size size
  font-weight weight
  color color
  letter-spacing spacing
  font-family brand-font

//~Mixin para aplicar estilo de borda
border-styles(width, radius)
  border-width width
  border-radius radius

//~Exemplo de Uso
//~.rounded-border
//~  border-styles(4px, 5px)

//~Mixin para criar sombras
box-shadow-mixin(offset-x, offset-y, blur-radius, color)
  box-shadow offset-x offset-y blur-radius color

//~Exemplo de Uso
//~box-shadow-mixin(0, 2px, 4px, rgba(0, 0, 0, 0.1))
